/*
    버튼 속성
*/
.buttonStyle {
    background-color: #16c79a;
    color: white;
    border: none;
    padding: 1vh 2vw;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 3vh;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttonStyle:hover {
    background-color: #13a682;
    transform: scale(1.05);
}

.buttonStyle:active {
    transform: scale(0.95);
}

/*
    버튼 위치
*/
.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이를 설정하여 수직으로 가운데 정렬 */
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .buttonStyle {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .soccerImage {
    width: 100%; /* 이미지 너비를 100%로 설정 */
    max-width: 600px; /* 최대 너비 설정 */
    height: auto; /* 비율 유지 */
    margin-top: -100px; /* 이미지 위로 올리기 위해 마진 조정 */
    margin-bottom: 10px; /* 버튼과의 간격 */
  }