.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh; /* 화면 높이를 고정합니다 */
  
}

/* 스크롤바 삭제 */
body{
 -ms-overflow-style: none;
 }
::-webkit-scrollbar {
  display: none;
}