.container {
  background-color: #f9f9f9; /* 카드의 배경색 */
  cursor: pointer;
  width: 95%; /* 카드의 유동적인 너비 */
  margin: 10px auto; /* 가운데 정렬 */
  padding: 15px; /* 카드 내부 여백 */
  border-radius: 10px; /* 모서리 둥글게 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자로 입체감 추가 */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* 애니메이션 */
}

.container:hover {
  background-color: rgb(241, 254, 239); /* 호버 시 배경색 */
  color: rgb(0, 0, 0); /* 글자색 */
  transform: translateY(-5px); /* 호버 시 카드가 살짝 올라가는 효과 */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* 더 명확한 호버 시 그림자 */
}

.section {
    padding: 10px 0; /* 각 섹션에 내부 여백 추가 */
}

.section:last-child {
  border-bottom: none; /* 마지막 섹션은 경계선 제거 */
}

.infoRow {
    display: flex;
    justify-content: flex-start; /* 좌측 정렬 */
    margin-bottom: 0.5rem;
}

.label {
    font-weight: bold;
    width: 120px; /* 라벨의 고정 너비 설정 */
}

h4 {
  font-size: 16px; /* 글씨 크기 */
  font-weight: 500; /* 글씨 두께 */
  color: #333; /* 기본 글씨 색상 */
}

h4:first-child {
  font-size: 18px; /* 첫 번째 제목의 크기 더 강조 */
  font-weight: 600; /* 더 두꺼운 글씨 */
}

.container:hover h4 {
  color: #1e7e34; /* 호버 시 제목 글씨 색상 변경 */
}

.emptyRow {
  display: block;
  height: 1.6rem; /* 원하는 만큼의 높이를 설정 */
}